{{> header }}
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>Beach view</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos doloribus, eligendi magnam ipsum nulla mollitia, ex amet excepturi minus optio id nisi vel vero sed deserunt tempore debitis. Ipsum, numquam!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/test.jpg" alt="" class="img-thumbnail">
    </div>

</div>


    {{> footer }}